<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom-style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav><%- include("../partials/nav") %></nav>
    <section class="container p-5">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-wrap">
            <% articles.forEach((article) => { %>
            <div class="p-3 col-3">
              <div class="card">
                <img src="<%= article.imageSrc %>" alt="" />
                <h5><%= article.author %></h5>
                <p><%= article.completed ? "Done " : "In-progress" %></p>
                <p class="badge rounded-pill bg-light order">
                  <%= article.order %>
                </p>
                <div class="card-body">
                  <p class="card-title"><%= article.title %></p>
                  <p>ID: <%= article.id %></p>
                </div>
                <a
                  class="btn btn-primary"
                  href="/gallery/view/<%= article.id %>"
                >
                  View Article</a
                >
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </section>
    <footer><%- include("../partials/footer") %></footer>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
